/* line 1, ../sass/mailform.scss */
#wpSubmit {
  text-align: center;
}
/* line 4, ../sass/mailform.scss */
#wpSubmit #submit {
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  border: none;
  background: #8fc400;
  background: -moz-linear-gradient(top, #8fc400 0%, #4caa00 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fc400), color-stop(99%, #4caa00));
  background: -webkit-linear-gradient(top, #8fc400 0%, #4caa00 99%);
  background: -o-linear-gradient(top, #8fc400 0%, #4caa00 99%);
  background: -ms-linear-gradient(top, #8fc400 0%, #4caa00 99%);
  background: linear-gradient(to bottom, #8fc400 0%, #4caa00 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fc400', endColorstr='#4caa00',GradientType=0 );
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 24, ../sass/mailform.scss */
#wpSubmit #submit:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* line 31, ../sass/mailform.scss */
#wpMail {
  width: 500px;
  height: 500px;
  padding: 20px;
  margin: 30px auto 0 auto;
  color: #4c4c4c;
  font-size: 1.2rem;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 42, ../sass/mailform.scss */
#wpMail h1 {
  color: #3eab23;
  font-size: 1.5rem;
  text-align: left;
  border-left: solid 6px #8fc400;
  background: #f8f8f8;
  padding: 7px 0 6px 6px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 53, ../sass/mailform.scss */
#wpMail #sendMessage {
  padding: 1.5rem 0 2.3rem;
  line-height: 1.5;
}
/* line 58, ../sass/mailform.scss */
#wpMail dl {
  padding: 20px 0 10px 0;
}
/* line 61, ../sass/mailform.scss */
#wpMail dl dt {
  width: 130px;
  padding: 5px;
  margin-bottom: 6px;
  display: inline-block;
  border-bottom: solid 3px #338358;
}
/* line 68, ../sass/mailform.scss */
#wpMail dl dd {
  width: 340px;
  padding: 5px;
  margin-bottom: 6px;
  margin: 0;
  display: inline-block;
  border-bottom: solid 3px #b4b4b4;
}
/* line 78, ../sass/mailform.scss */
#wpMail #mailForm {
  text-align: center;
}
/* line 81, ../sass/mailform.scss */
#wpMail #mailForm div {
  position: relative;
  padding-bottom: 30px;
}
/* line 85, ../sass/mailform.scss */
#wpMail #mailForm div:first-child {
  margin-top: 40px;
}
/* line 89, ../sass/mailform.scss */
#wpMail #mailForm div label {
  position: absolute;
  left: 38%;
  top: -17px;
  color: #7f7f7f;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left !important;
}
